.app {
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  .content {
    margin-top: 12vh;

    .render-todos {
      column-count: 5;
      padding: 0 4rem;
    }
  }

  .action-button {
    background-color: $main-color;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    bottom: 6rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    color: $dark-grey;
    cursor: pointer;
    padding: 0.8rem;
    position: fixed;
    right: 10rem;
    user-select: none;
    z-index: 1000;
  }
}

.editor {
  background-color: #fff;
  box-shadow: 0.3rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  display: inline-grid;
  padding: 1.6rem;
  font-size: 1.4rem;
  margin: 0rem 1rem 4rem 1rem;
  transition: all 0.4s;
  width: 30rem;

  &:hover {
    box-shadow: 0.6rem 1rem 1.2rem 0 rgba(0, 0, 0, 0.5);

    .options-icon {
      visibility: visible;
    }
  }

  &-text {
    padding: 3rem;
    max-width: 28rem;
  }

  [data-slate-editor] > * + * {
    margin-top: 1em;
  }

  :not(pre) > code {
    background-color: #eee;
    font-family: monospace;
    padding: 0.3rem;
  }

  blockquote {
    border-left: $light-border;
    color: #aaa;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
  }

  blockquote[dir="rtl"] {
    border-left: none;
    border-right: $light-border;
    padding-left: 0;
    padding-right: 1rem;
  }

  ol,
  ul {
    padding-left: 3.5rem;
  }
}
