header {
  background-color: $main-color;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  height: 8vh;
  margin: 0 0 3rem 0;
  padding: 2rem;
  user-select: none;
  width: 100vw;

  h1 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-weight: 300;
    top: -15px;
    left: 25px;
    font-size: 4rem;
  }

  .app--owner {
    color: $darker-grey;
    position: relative;
    right: -80rem;
    top: 4.2rem;
    font-size: 0.8rem;
  }

  .user-actions {
    color: $darker-grey;
    display: flex;
    margin-right: 2rem;
    font-size: 1.8rem;

    p {
      margin: 0 1rem;
    }
  }
}
